.product-page {
  padding-top: 22px;
  background-color: #ebebeb;
  padding-bottom: 22px;

  &__content {
    @include flex();
    justify-content: space-between;

    .product-page__left {
      background-color: #ebebeb;
      width: 19.5%;
    }

    .product-page__right {
      background-color: #ebebeb;
      width: 79.5%;

      .slick-slide {
        overflow: hidden;
        border-radius: 18px;
      }

      .slick-slider {
        .slider__item {
          outline: none;
          overflow: hidden;
          border-radius: 18px;

          img {
            width: 100%;
            height: 271px;
            object-fit: cover;
          }
        }

        .slick-dots,
        .slick-arrow {
          display: none !important;
        }
      }

      .product-filter {
        margin-top: 20px;
        @include flex();
        align-items: center;

        span {
          @include font-size(14px);
        }

        ul {
          @include flex();

          &.disabled li {
            opacity: 0.6;
            cursor: default;

            &:hover {
              background-color: #ffffff;
              color: inherit;
            }
          }

          li {
            cursor: pointer;
            background-color: $white-text;
            border-radius: 7px;
            padding: 6px 8px;
            @include font-size(14px);
            margin: 0 7px;
            transition: all 0.15s ease-in;

            &.active,
            &:hover {
              background-color: #fa434e;
              color: $white-text;
            }

            &.active:hover {
              background-color: #fa434e;
              color: $white-text;
            }
          }
        }
      }

      .home-product__list {
        margin-top: 20px;
        background-color: #fff;

        .product__item {
          width: calc(100% / 4);
        }

        .product__item.skeleton {
          width: calc(100% / 4 - 5px);
          margin-top: 4px;
          margin-bottom: 0;

          &:nth-child(10n + 1) {
            margin-left: 0;
          }

          &:nth-child(8n + 1) {
            margin-left: 4px;
          }
        }
      }
    }
  }
}

ul.product-pagi {
  margin-top: 12px;
  padding-right: 10px;
  @include flex();
  float: right;

  li {
    height: 25px;
    width: 25px;
    margin-right: 4px;
    border-radius: 6px;

    a {
      cursor: pointer;
      display: block;
      width: 100%;
      height: 100%;
      text-align: center;
      line-height: 25px;
    }

    &.active,
    &:hover {
      background-color: #01adab;

      a {
        color: $white-text;
      }
    }
  }
}
