.user {
  background-color: #ebebeb;
  padding: 30px 0;

  &__content {
    @include flex();
    justify-content: space-between;

    .user__left {
      width: 19.5%;
    }

    .user__right {
      width: 79.5%;

      .user-main {
        position: relative;
        background-color: #fff;

        .user-header {
          position: absolute;
          top: -7px;
          left: 4%;
          background-color: #01adab;
          height: 32px;
          line-height: 32px;
          padding: 0 10px;
          border-bottom-left-radius: 4px;
          border-bottom-right-radius: 4px;
          font-size: 14px;
          color: #fff;

          &::before {
            height: 0;
            width: 0;
            border-width: 4px 6px;
            border-style: solid;
            border-color: transparent #016b68 #016b68 transparent;
            content: '';
            position: absolute;
            top: 0px;
            left: -12px;
          }
        }

        .user-content {
          padding: 58px 70px;

          .user-information {
            @include flex();
            justify-content: space-between;
            flex-flow: row wrap;

            input {
              color: #808081;
            }

            .left {
              width: 59%;
            }

            .right {
              width: 32%;

              .input-field:nth-child(1) {
                @include flex();
                flex-direction: row-reverse;
                margin: 15px 0 0;
                height: 40px;
                min-height: unset;

                input {
                  cursor: pointer;
                  width: 20px;
                  height: 20px;
                  margin: 0 10px 0 0;
                }
              }
            }
          }

          .user-location {
            input,
            textarea {
              color: #808081;
            }
          }

          .favorite-product {
            margin: 0 -70px;
            .product__item {
              width: 25%;
            }

            .react-loading-skeleton.skeleton.product__item {
              width: 24%;
              margin: 0;

              &:nth-child(8n + 1) {
                margin-left: 4px;
                margin-bottom: 4px;
              }
            }
          }

          .user-order {
            margin: 0 -70px;

            &__head,
            .order-item {
              @include flex();
              justify-content: space-between;
              text-align: center;
              line-height: 20px;

              .code {
                width: 100%;
                max-width: 100px;
              }

              .day {
                width: 100%;
                max-width: 80px;
              }

              .order-product {
                width: 100%;
                max-width: 300px;
              }

              .total-price {
                width: 100%;
                max-width: 70px;
                white-space: nowrap;

                &.price {
                  color: #01adab;
                }
              }

              .order-status {
                width: 100%;
                max-width: 70px;
              }

              .order-address {
                width: 100%;
                max-width: 165px;
              }
            }

            &__head {
              padding: 12px 10px;
              border-top: 1px solid #e5e5e4;
              border-bottom: 1px solid #e5e5e4;

              & > * {
                font-size: 14px;
                color: #808081;
              }
            }

            .order-item {
              padding: 16px 10px;
              font-size: 14px;

              .code {
                color: #01adab;
              }

              .day,
              .order-product,
              .order-status {
                color: #434343;
              }

              .order-product,
              .order-address {
                text-align: left;
              }

              & + .order-item {
                border-top: 1px solid #e5e5e4;
              }
            }
          }
        }
      }
    }
  }
}
