@media only screen and (max-width: 768px) {
  #no-support-device {
    padding: 20px 10px;
    display: flex !important;
    flex-direction: column;
    margin-top: 10vh;
    align-items: center;
    text-align: center;
    height: 100vh;
    
    h2 {
      font-size: 16px;
      margin-bottom: 10px;
      font-weight: 400;
      color: #01adab;
    }
  }
}

html,
body {
  scroll-behavior: smooth;
}
a {
  &:hover {
    text-decoration: none;
  }
}

ul,
ol,
p {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  display: inline-block;
  text-decoration: none;
  color: unset;
}

a:hover {
  color: unset;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
}

body {
  color: #3c3c3c;
  position: relative;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

body.loading-data::after {
  position: fixed;
  content: '';
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
  // top: 100px;
}

@keyframes animation-loading {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

body.loading-data::before,
div.loading-lazy {
  position: fixed;
  content: '';
  top: 100px;
  height: 8px;
  width: 100%;
  z-index: 1001;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: animation-loading;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(
    to right,
    $color-primary 8%,
    #dddddd 18%,
    #eeeeee 33%
  );
  background-size: 800px 104px;
  height: 4px;
}

// body.loading-data {
//   header {
//     pointer-events: none;
//   }
// }

body.top.loading-data::before,
div.loading-lazy {
  top: 0;
}
